$border-color: #666;
$border-width: 2pt;

.medal-table {
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--mma-clr-fg);
    font-family: var(--mma-font-primary);
    font-size: 1rem;

    thead {
        th {
            border-bottom: $border-width solid $border-color;
            vertical-align: middle;

            &.selected {
                border-top: $border-width solid $border-color;
            }

            button {
                border:none;
                cursor: pointer;
                 vertical-align: middle;
                display: inline-flex;
                align-items: center;
                
                &.disc {
                    font-size: 1.25em;
                    min-width: 1em;
                    min-height: 1em;
                    border-radius: 50%;
                }

                &.gold {
                    background-color: gold;
                }

                &.silver {
                    background-color: silver;
                }

                &.bronze {
                    background-color: #CD7F32;
                }

                &.total {
                    background-color: none;
                }
            }
        }
    }

    tbody {
        td {
            border-bottom: 1px solid #999;

            &.code,
            &.total {
                font-weight: bold;
            }

            &.total {
                color: #333;
            }
        }
    }

    th, td {
        vertical-align: middle;
        padding: .75em;
    }

}