.medal-table {
    border-collapse: collapse;
    color: var(--mma-clr-fg);
    font-family: var(--mma-font-primary);
    font-size: 14pt;

    thead {
        th {
            border-bottom: 2pt solid #666;
        }

        button {
            border:none;

            &.disc {
                min-width: 1em;
                min-height: 1em;
                border-radius: 50%;
            }

            &.gold {
                background-color: gold;
            }

            &.silver {
                background-color: silver;
            }

            &.bronze {
                background-color: #CD7F32;
            }

            &.total {
                background-color: none;
            }
        }
    }

    tbody {
        td {
            border-bottom: 1pt solid #999;

            &.code,
            &.total {
                font-weight: bold;
            }

            &.total {
                color: #333;
            }
        }
    }

    th, td {
        padding: 0.25em;
    }

}